@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@plugin "daisyui" {
  themes: all;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
